body{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin:0%;
    box-shadow: inset;
    box-shadow: 10px 10px 5px lightblue;
}

.btn{
    background-color: lavender;
    border-radius: 4px;
}

.btn1{

    background-color: lavender;
    border-radius: 4px;
}


