body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}
.cart-icon {
    font-size: 25px;
    color: #fff;
    margin-right: 10px;
}
.cart-count {
    background-color: red;
    color: #fff;
    padding: 3px 8px;
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
}